.about
{
margin-top:50px;
}
.about_banner
{
background-image: url(/theme_custom/static/src/img/about/about_banner.png);
min-height:500px;
background-repeat: no-repeat;
background-size: cover;
}
.centered
{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
text-align: center;
}
.centered span
{
font-family:"cursive";
color:white;
font-size: 40px;
}
.centered h1
{
font-size:48px;
}

@media  only screen and (min-width: 992px)
{
.centered .line
{
background-color:white;
border-width:1px;
border-style:thin;
width:27%;
display:inline-block;
}
}
@media  only screen and (max-width: 992px)
{
.centered .line
{
display:none;
}
}
